	.border{
		border: 1px solid black;
		border-collapse: collapse;
		width: 500px;
	}
	
	table, th, td{
		border: 1px solid #000;
	}
	
	tr:nth-child(even) {
		background-color: lightgrey;
	}
	
	tr:nth-child(odd) {
		background-color: lightblue;
	}
	
	.textl{
		text-align: left;
	}
	
	.textr{
		text-align: right;
	}
	
	.textc{
		text-align: center;
	}
	
	
	
	.box{
		border: 1px solid black;
		border-collapse: collapse;
	}
 
	.red{
		background-color:#f00;
		width:250px;
		height:100px;
		float: right;
		margin-right: 1550px;

	}
	
	.green{
		background-color:#0f0;
		width:100px;
		height:50px;
	}
	
	.blue{
		background-color:#00f;
		width:100px;
		height:200px;
	}