div.del1{}

    .del1 table, th, td{
		border: 1px solid black;
		border-collapse: collapse;
		width: 500px;
	}
	
	.del1 tr:nth-child(even) {
		background-color: lightgrey;
	}
	
	.del1 tr:nth-child(odd) {
		background-color: lightblue;
        color: white;
	}
	
	.del1 .textl{
		text-align: left;
	}
	
	.del1 .textr{
		text-align: right;
	}
	
	.del1 .textc{
		text-align: center;
	}
	
    .del1 tr:nth-child(1){
        background-color: purple; 
        color: white;
    }






    .box{
		border: 1px solid black;
		border-collapse: collapse;
        width: 450px;
        height: 300px;
    }
 
	.red{
		background-color: darkred;
	}
	
	.green{
		background-color:#0f0;
	}
	
	.blue{
		background-color: skyblue;
	}

    .black{
        background-color:#000;
    }

    .yellow{
        background-color: yellow;
    }
